[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.2"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==2.11.3"
SQLAlchemy = "==1.4.5"
numpy = "==1.21"
pandas = "==1.4.0"
ipykernel = "*"
xgboost = "*"
shap = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
