{%extends "landing.html" %}
{% block title %} Project Submission Page {% endblock %}
{% block content %}
<form method="post" action="#">
    <div class="fields">
        <!-- Project name -->
        <div class="field half">
            <label for="prj">Project Name:</label>
                <div>
                    <input type="text" name="prj" id="prj" />
                </div>
        </div>
        <!-- Project Description -->
        <div class="field">
            <label for="blurb">Project Description:</label>
                <div>
                    <textarea name="blurb" id="blurb" rows="3"></textarea>
                </div>
        </div>
        <!-- GOAL -->
        <div class="field half">
            <label for="goal">Goal:</label>
                <div>
                    <input type="number" name="goal" id="goal" />
                </div>
        </div>
        <!-- Category -->
        <div>
            <label for="category">Choose a Category:</label>
                <div>
                    <select name="category" id="category">
                        <option value="Academic">Academic</option>
                        <option value="Places">Places</option>
                        <option value="Blues">Blues</option>
                        <option value="Restaurants">Restaurants</option>
                        <option value="Webseries">Webseries</option>
                        <option value="Thrillers">Thrillers</option>
                        <option value="Shorts">Shorts</option>
                        <option value="Web">Web</option>
                        <option value="Apps">Apps</option>
                        <option value="Gadgets">Gadgets</option>
                        <option value="Hardware">Hardware</option>
                        <option value="Festivals">Festivals</option>
                        <option value="Plays">Plays</option>
                        <option value="Musical">Musical</option>
                        <option value="Flight">Flight</option>
                        <option value="Spaces">Spaces</option>
                        <option value="Immersive">Immersive</option>
                        <option value="Experimental">Experimental</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Wearables">Wearables</option>
                        <option value="Sound">Sound</option>
                        <option value="Software">Software</option>
                        <option value="Robots">Robots</option>
                        <option value="Makerspaces">Makerspaces</option>
                    </select>
                </div>
        </div>
        <!-- Campaign length -->
            <div class="field half">
                <label for="length">Campaign Length</label>
                    <div>
                        <input type="number" name="length" id="length" />
                    </div>
            </div>
    </div>
    <ul class="actions">
        <li><input type="submit" value="Send Message" class="primary" /></li>
        <li><input type="reset" value="Clear" /></li>
    </ul>
</form>
{% endblock %}